body{
  font-size: 18px;
  font family: font-family: 'Permanent Marker', cursive;
  color: blue;
  background: url('../images/america.jpg');
}

#main-container, footer{
  background-color: lightgrey;
  padding: 30px;
  margin: 60px;
}

h1{
  background-color: lightgrey;
  padding: 30px;
  margin: 60px;
}
